{% extends 'base.html' %}
{% block title %}Ana Sayfa{% endblock %}

{% block content %}
  <section class="py-16 px-8 text-center rounded-xl shadow-md border border-[#e4dccc]"
           style="background-color: #F2E8D5;">

    <h1 class="text-5xl font-medium mb-6" style="color: #006D52;">
      Glutensiz Yaşam Dünyasına Hoş Geldiniz
    </h1>

    <p class="text-lg md:text-xl mb-8" style="color: #006D52;">
      Glutensiz restoranlar ve ürünler burada sizi bekliyor!
    </p>

    <a href="/restaurants"
       class="inline-block text-lg font-semibold px-8 py-3 rounded-xl shadow transition duration-200"
       style="background-color: #006D52; color: white;"
       onmouseover="this.style.backgroundColor='#006D52'"
       onmouseout="this.style.backgroundColor='#006D52'">
      Restoranları Keşfet
    </a>
  </section>
{% endblock %}

